## Scrap Comments from IG JSON File and Make it to DataFrame

    * Import Modules and JSON File
    * Access the Comment Text
    * Make it to DataFrame

### Import Modules and JSON File

In [39]:
import json
import re
import pandas as pd

In [40]:
# Load Comment's JSON file
with open('comments1.json', 'r') as com1:
    comment1 = json.load(com1)
    print(comment1)

[{'id': 17897170639519292, 'created_at': 1594075958, 'text': 'Follback kakk', 'owner': {'id': '3303150253', 'is_verified': False, 'profile_pic_url': 'https://instagram.fcgk7-1.fna.fbcdn.net/v/t51.2885-19/s150x150/117756683_295261911700629_8440515828210635539_n.jpg?_nc_ht=instagram.fcgk7-1.fna.fbcdn.net&_nc_ohc=-Wr3F83xwWgAX9UR4Bd&oh=f87e2c4442ad6b3ce24a3e6a1bc211fa&oe=5F7E4BF8', 'username': 'ndolle__'}, 'likes_count': 0, 'answers': []}, {'id': 17921219077114945, 'created_at': 1522625970, 'text': '@fhardian wahaha itu rahasia perusahaan bang hehe', 'owner': {'id': '3144609937', 'is_verified': False, 'profile_pic_url': 'https://instagram.fcgk7-1.fna.fbcdn.net/v/t51.2885-19/s150x150/118652949_2203321636481062_3786851475984374207_n.jpg?_nc_ht=instagram.fcgk7-1.fna.fbcdn.net&_nc_ohc=NcJcxWfgyLUAX8qg024&oh=6a4acff0db07922ef04819aab717cc4b&oe=5F7F2950', 'username': 'syamilfakhruddin'}, 'likes_count': 0, 'answers': []}, {'id': 17934251350028392, 'created_at': 1522592742, 'text': 'Wkwkwkwk indomie selerakuuu. Abis berapa porsi mil? Coba diceritakan haha', 'owner': {'id': '19222194', 'is_verified': False, 'profile_pic_url': 'https://instagram.fcgk7-1.fna.fbcdn.net/v/t51.2885-19/s150x150/80320618_577054936458269_6936451622755106816_n.jpg?_nc_ht=instagram.fcgk7-1.fna.fbcdn.net&_nc_ohc=l3Yf5EEjNCoAX_YzcHs&oh=266a34908c7d75958db7f8c4b59632ae&oe=5F7CB88E', 'username': 'fhardian'}, 'likes_count': 0, 'answers': []}, {'id': 17911434058131736, 'created_at': 1522591494, 'text': 'Bagussss pemandangannyaa >●<', 'owner': {'id': '1233571428', 'is_verified': False, 'profile_pic_url': 'https://instagram.fcgk7-1.fna.fbcdn.net/v/t51.2885-19/s150x150/94418449_672886906802378_4680017998918975488_n.jpg?_nc_ht=instagram.fcgk7-1.fna.fbcdn.net&_nc_ohc=hZpcAkNlHaoAX-C0sHf&oh=d2d6c1f4fc9125da97aa9c1675493eca&oe=5F7D7DA4', 'username': 'nrhrsy'}, 'likes_count': 0, 'answers': []}, {'id': 17921625595129068, 'created_at': 1522587270, 'text': 'Bagus bgt miiiiil *_*', 'owner': {'id': '3251197289', 'is_verified': False, 'profile_pic_url': 'https://instagram.fcgk7-1.fna.fbcdn.net/v/t51.2885-19/s150x150/75328477_193995162008428_3609248812314345059_n.jpg?_nc_ht=instagram.fcgk7-1.fna.fbcdn.net&_nc_ohc=TjtcnWchmNYAX-wZtpH&oh=5deb7a7c38a0018add7b2e913e138de3&oe=5F7C72A0', 'username': 'faizahmuthi'}, 'likes_count': 1, 'answers': []}, {'id': 17919617842125955, 'created_at': 1522587063, 'text': '@putripuspitaningrum siap kak tinggal mention aja itu mah wkwk', 'owner': {'id': '3144609937', 'is_verified': False, 'profile_pic_url': 'https://instagram.fcgk7-1.fna.fbcdn.net/v/t51.2885-19/s150x150/118652949_2203321636481062_3786851475984374207_n.jpg?_nc_ht=instagram.fcgk7-1.fna.fbcdn.net&_nc_ohc=NcJcxWfgyLUAX8qg024&oh=6a4acff0db07922ef04819aab717cc4b&oe=5F7F2950', 'username': 'syamilfakhruddin'}, 'likes_count': 0, 'answers': []}, {'id': 17844743914252926, 'created_at': 1522586320, 'text': 'Jgn lupa ikut lomba kalo indomie adain kontes foto yaaa mil wkwkw', 'owner': {'id': '265628771', 'is_verified': False, 'profile_pic_url': 'https://instagram.fcgk7-1.fna.fbcdn.net/v/t51.2885-19/s150x150/118474855_327484338369001_3139925004091554944_n.jpg?_nc_ht=instagram.fcgk7-1.fna.fbcdn.net&_nc_ohc=BwUfUaZtd2cAX_eXlq5&oh=5692edd39591f504a6de2ec3f7deb644&oe=5F7EE8EC', 'username': 'putripuspitaningrum'}, 'likes_count': 0, 'answers': []}]

In [41]:
#access 1 comment
comment1[0]

{'id': 17897170639519292,
 'created_at': 1594075958,
 'text': 'Follback kakk',
 'owner': {'id': '3303150253',
  'is_verified': False,
  'profile_pic_url': 'https://instagram.fcgk7-1.fna.fbcdn.net/v/t51.2885-19/s150x150/117756683_295261911700629_8440515828210635539_n.jpg?_nc_ht=instagram.fcgk7-1.fna.fbcdn.net&_nc_ohc=-Wr3F83xwWgAX9UR4Bd&oh=f87e2c4442ad6b3ce24a3e6a1bc211fa&oe=5F7E4BF8',
  'username': 'ndolle__'},
 'likes_count': 0,
 'answers': []}

In [42]:
#access to that text
comment1[0]['text']

'Follback kakk'

In [43]:
# cehck all comments in a post
for comm1 in comment1:
    print(comm1['text'])

Follback kakk
@fhardian wahaha itu rahasia perusahaan bang hehe
Wkwkwkwk indomie selerakuuu. Abis berapa porsi mil? Coba diceritakan haha
Bagussss pemandangannyaa >●<
Bagus bgt miiiiil *_*
@putripuspitaningrum siap kak tinggal mention aja itu mah wkwk
Jgn lupa ikut lomba kalo indomie adain kontes foto yaaa mil wkwkw

### Make it into a DataFrame

In [44]:
# empty list
comments = []

for comm1 in comment1:
    komen = [] #empty list
    komen.append(comm1['id']) #input id to list
    komen.append(' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ",
                        comm1['text']).split())) #fast clean text and input that to the list
    comments.append(komen) #append to comments list

In [45]:
comments

[[17897170639519292, 'Follback kakk'],
 [17921219077114945, 'wahaha itu rahasia perusahaan bang hehe'],
 [17934251350028392,
  'Wkwkwkwk indomie selerakuuu Abis berapa porsi mil Coba diceritakan haha'],
 [17911434058131736, 'Bagussss pemandangannyaa'],
 [17921625595129068, 'Bagus bgt miiiiil'],
 [17919617842125955, 'siap kak tinggal mention aja itu mah wkwk'],
 [17844743914252926,
  'Jgn lupa ikut lomba kalo indomie adain kontes foto yaaa mil wkwkw']]

In [46]:
df = pd.DataFrame(comments, columns=['User ID', 'comments'])

In [47]:
df

             User ID                                           comments
0  17897170639519292                                      Follback kakk
1  17921219077114945            wahaha itu rahasia perusahaan bang hehe
2  17934251350028392  Wkwkwkwk indomie selerakuuu Abis berapa porsi ...
3  17911434058131736                           Bagussss pemandangannyaa
4  17921625595129068                                  Bagus bgt miiiiil
5  17919617842125955          siap kak tinggal mention aja itu mah wkwk
6  17844743914252926  Jgn lupa ikut lomba kalo indomie adain kontes ...

### Make dataframe from coments in all posts

In [56]:
posts = ['comments1.json', 'comments2.json', 'comments3.json']

for i, post in enumerate(posts):
    if i == 1:
        with open(post, 'r') as com1:
            comment1 = json.load(com1)
    elif i == 2:
        with open(post, 'r') as com2:
            comment2 = json.load(com2)
    else:
        with open(post, 'r') as com3:
            comment3 = json.load(com3)

In [69]:
komens = []

In [70]:
for comm1 in comment1:
    komen1 = []
    komen1.append(comm1['id'])
    komen1.append(' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ",
                        comm1['text']).split()))
    komens.append(komen1)

In [71]:
for comm2 in comment2:
    komen2 = []
    komen2.append(comm2['id'])
    komen2.append(' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ",
                        comm2['text']).split()))
    komens.append(komen2)

In [72]:
for comm3 in comment3:
    komen3 = []
    komen3.append(comm3['id'])
    komen3.append(' '.join(re.sub("(@[A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)", " ",
                        comm3['text']).split()))
    komens.append(komen3)

In [73]:
data = pd.DataFrame(komens, columns=['User ID', 'comments'])

In [75]:
data.head()

             User ID                                           comments
0  17845441304150493                          Semoga sehat selalu kawan
1  17918178484413779             hujan sudah reda kamu nya malah ga ada
2  17877305767650951                                          Mil sehat
3  17901338227541577  Barakallah lakuma bang semoga bisa silaturahmi...
4  17917218682457665                                    Selamat yee mil